<div class="panel panel-info">
            <div class="panel-heading">User Details</div>
            <div class="panel-body">
              <input type="hidden" name="user_id" value="<%#=@user.id%>">
                                    
             
            <div class="form-group row">
        <label class="col-sm-3 col-form-label">Project Image</label>
          <div class="col-sm-6">
            <img src="<%=url_for(@projects.image)%>" class="img-tag img1" style="width:200px;height:200px;"> 
              <input type="file" 
                     name="image" id="img1" onchange='readURL(event)'>
          </div>
      </div>
            


             <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Name</label>
                     <div class="col-sm-7">
                        <input type="text" name = "title" placeholder="Project Name" class="form-control"value="<%=@projects.title%>" autocomplete = "off">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Logo Title</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "title" placeholder ="Project Type" class="form-control" autocomplete = "off">
                           <%@logos.each do |lc|%>
                           
                           <option value="<%=lc.id%>" <%if lc.id==@projects&.title&.id%> selected<%end%>><%=lc.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project New Title</label>
                     <div class="col-sm-7">
                        <input type="text" name = "new_title" placeholder="Project Name" class="form-control"value="<%=@projects.new_title%>" autocomplete = "off">
                     </div>
                  </div>
                   <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Features</label>
                     <div class="col-sm-7">
                        <input type="text" name = "project_features" placeholder="Project Features" class="form-control"value="<%=@projects.project_features%>" autocomplete = "off">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Starting Price</label>
                     <div class="col-sm-7">
                        <input type="text" name = "start_price" placeholder="Starting Price" class="form-control"value="<%=@projects.start_price%>" autocomplete = "off">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Status</label>
                     <div class="col-sm-7">
                        <input type="text" name = "project_status" placeholder="Project Status" class="form-control"value="<%=@projects.project_status%>" autocomplete = "off">
                     </div>
                  </div>
                   <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Type</label>
                     <div class="col-sm-7">
                        <input type="text" name = "project_type" placeholder="Project Name" class="form-control" value = "<%=@projects.project_type%>"autocomplete = "off">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Select Locality</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "locality_id" placeholder ="Project Type"class="form-control" autocomplete = "off">
                           <%@localities.each do |l|%>
                           <option value="<%=l.id%>" <%if l.id==@projects&.locality&.id%> selected<%end%>><%=l.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Select Builders</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "builder_id" placeholder ="Builders" class="form-control" autocomplete = "off">
                           <%@builders.each do |b|%>
                           <option value="<%=b.id%>" <%if b.id==@projects&.builder&.id%> selected<%end%>><%=b.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Amenity</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "amenity_id" placeholder ="Project Type" class="form-control" autocomplete = "off">
                          <%@amenities.each do |a|%>
                           <option value="<%=a.id%>" <%if a.id==@projects&.amenity&.id%> selected<%end%>><%=a.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Select City</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "city_l_id" placeholder ="Project Type" class="form-control" autocomplete = "off">
                           <%@cities.each do |c|%>
                           
                           <option value="<%=c.id%>" <%if c.id==@projects&.city_l&.id%> selected<%end%>><%=c.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Assets Type</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "assets_type" placeholder ="Assets Type" class="form-control" value="<%=@projects.assets_type%>" autocomplete = "off">
                           <option value="pune" selected>pune</option>
                           <option value="Godrej">Godrej</option>
                           <option value="Shapoorji Group">Shapoorji Group</option>
                           <option value="Mahindra">Mahindra</option>
                        </select>
                     </div>
                  </div>
                   <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">States</label>
                     <div class="col-sm-7">
                        <select id="project" input type="text" name = "state_id" placeholder ="Project Type" class="form-control" autocomplete = "off">
                           <%@states.each do |s|%>
                           
                           <option value="<%=s.id%>" <%if s.id==@projects&.state&.id%> selected<%end%>><%=s.title%></option>
                           <%end%>
                        </select>
                     </div>
                  </div>

                 
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label"  for="project">Possession Date</label>
                     <div class="col-sm-7">
                        <input type="text" name = "possession_date" placeholder ="Possession Date" class="form-control" value="<%=@projects.possession_date%>" autocomplete = "off">
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Overview</label>
                     <div class="col-sm-7">
                        <input type="text" name = "project_overview" placeholder="Project Overview" class="form-control" value="<%=@projects.project_overview%>" autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Location Map</label>
                     <div class="col-sm-7">
                        <input type="text" name = "location_map_content" placeholder="Location Map" class="form-control" value="<%=@projects.location_map_content%>" autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>
              <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Project Overview</label>
                     <div class="col-sm-7">
                        <input type="text" name = "project_overview" placeholder="Project Overview" class="form-control" value="<%=@projects.project_overview%>"autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>
                    <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Launch Date</label>
                     <div class="col-sm-7">
                        <input type="text" name = "launch_date" placeholder="Launch date" class="form-control" value="<%=@projects.launch_date%>"autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Site Plan</label>
                     <div class="col-sm-7">
                        <input type="text" name = "site_Plan_content" placeholder="Site Plan" class="form-control" value="<%=@projects.site_Plan_content%>"autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>

                  <div class="form-group row">
                     <label class="col-sm-3 col-form-label">Highlights</label>
                     <div class="col-sm-7">
                        <input type="text" name = "title" placeholder="Highlights" class="form-control" value="<%=@highlights.title%>"autocomplete = "off">
                        <!-- <textarea name="title" class="form-control"></textarea> -->
                     </div>
                  </div>

              <div class="form-group">
                <button class="btn btn-md btn-primary float-right m-t-n-xs pull-right" type="submit" style= "margin-top: -23px;"id="submit"><strong>Submit</strong></button>     
              </div>           
            </div>
          </div>